@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 20px;
	line-height: 31px;
	min-width: 320px;
	font-family: $default-font;
	overflow-x: hidden!important;
	color: $text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.overflow {
		overflow: hidden!important;
	}
}

.img-responsive {
	display: inline-block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

.text-right{
	text-align: right;
}

b, strong {
	font-weight: bold;
}

ul{
	list-style: none;
	white-space: normal;
	margin: 0;
	padding: 0;
}

input:required {
    box-shadow:none;
}

label{
	margin: auto;
}

.page-physical{
	background-color: $accent;
	.slick-dots{
		margin-left: 50%;
	}
}
.page-legal{
	background-color: $bg-dark;
}

.title{
	font-family: "SF Pro Display";
	font-size: 48px;
	font-weight: 900;
	line-height: 57px;
	color: $text-dark;
}


/*  preloader
========================================== */

.loaderArea {
  background-color: $bg-main;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}

.loader{
  background:transparent;
  animation:a 1s linear infinite
}
.loader,.loader:after{
  border:4px solid;
  border-radius:50%;
  content:"";
  display:inline-block;
  position:absolute;
  width:50px;
  height:50px;
  top:50%;
  margin-top:-25px;
  left:50%;
  margin-left:-25px;
  z-index:1
}
.loader{
  border-color: $preloader-light $bg-main;
}
.loader:after{
  border-color:transparent $preloader-dark;
  animation:a 5s linear infinite
}

@-webkit-keyframes a{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}
@keyframes a{
  0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  to{
    -webkit-transform:rotate(1turn);
    transform:rotate(1turn)
  }
}


/*  animation svg
========================================== */

.ani-svg{
	display: none;
	fill-opacity: 0;
	stroke-width: 2;
	transition: all 1s;
	&.finished{
		fill-opacity: 1;
		stroke-width: 1;
	}
}



/*  switch physical-legal
========================================== */

.switch{
	width: 49px;
	height: 100%;
	font-family: "SF Pro Text";
	font-size: 12px;
	font-weight: 900;
	display: inline-block;
	line-height: 1;
	z-index: 200;
	transition: width .3s ease;
	&:hover{
		width: 54px;
	}
	&__text{
		position: absolute;
		top: 50%;
		white-space: nowrap;
		transform: rotate(-90deg);
	}
	&__physical-link{
		position: relative;
		display: inline-block;
		width: inherit;
		height: 100%;
		background-color: $bg-dark;
		border-left: 4px solid $element-light;
		z-index: 10;
		&_text{
			left: -65px;
			color: $text-light;
			&::before{
				content: "";
				width: 6px;
				height: 14px;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: -13px;
				transform: rotate(90deg);
				background: url('../img/switch-arrow-light.svg') no-repeat;
			}
		}
		// &_text-physical{
		// 	margin-left: -109px;
		// 	color: $text;
		// 	&::before{
		// 		content: "";
		// 		width: 6px;
		// 		height: 14px;
		// 		position: absolute;
		// 		left: 0;
		// 		right: 0;
		// 		margin: auto;
		// 		bottom: -17px;
		// 		transform: rotate(90deg);
		// 		background: url('../img/switch-arrow-dark.svg') no-repeat;
		// 	}
		// 	&::after{
		// 		content: "";
		// 		width: 78px;
		// 		height: 92px;
		// 		position: absolute;
		// 		bottom: -26px;
		// 		right: -40px;
		// 		transform: rotate(90deg);
		// 		background: url('../img/switch-arrow-physical.svg') no-repeat;
		// 	}
		// }
	}
	&__legal-link{
		position: relative;
		display: inline-block;
		width: inherit;
		height: 100%;
		background-color: $accent;
		border-right: 4px solid $element-light;
		z-index: 10;
		&_text{
			right: -57px;
			color: $text;
			&::before{
				content: "";
				width: 6px;
				height: 14px;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				top: 16px;
				transform: rotate(90deg);
				background: url('../img/switch-arrow-dark.svg') no-repeat;
			}
		}
		// &_text-legal{
		// 	margin-left: -14px;
		// 	color: $text;
		// 	transition: all .3s;
		// 	&::before{
		// 		content: "";
		// 		width: 6px;
		// 		height: 14px;
		// 		position: absolute;
		// 		left: 0;
		// 		right: 0;
		// 		margin: auto;
		// 		bottom: 17px;
		// 		transition: all .3s;
		// 		transform: rotate(-90deg);
		// 		background: url('../img/switch-arrow-dark.svg') no-repeat;
		// 	}
		// 	&::after{
		// 		transition: background .3s;
		// 		content: "";
		// 		width: 82px;
		// 		height: 91px;
		// 		position: absolute;
		// 		bottom: -52px;
		// 		right: -34px;
		// 		transition: all .3s;
		// 		transform: rotate(90deg);
		// 		background: url('../img/switch-arrow-legal.svg') no-repeat;
		// 	}
		// }
	}
	&__physical{
		position: fixed;
		top: 0;
		right: 0;
	}
	&__legal{
		position: fixed;
		top: 0;
		left: 0;
	}
	&__text-light{
		margin-left: -14px;
		color: $text-light;
	    filter: drop-shadow(0px 0px 3px $switch-shadow);
		&::before{
			content: "";
			width: 6px;
			height: 14px;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			bottom: 17px;
			background: url('../img/switch-arrow-light-right.svg') no-repeat;
		}
		&::after{
			content: "";
			width: 82px;
			height: 91px;
			position: absolute;
			bottom: -52px;
			right: -34px;
			transform: rotate(90deg);
			background: url('../img/switch-arrow-legal-light.svg') no-repeat;
		}
	}
}



/*  btns mobile store
========================================== */

.btn-appstore{
	display: inline-block;
	background: url('../img/btn-appstore.svg') no-repeat;
}

.btn-googleplay{
	display: inline-block;
	background: url('../img/btn-googleplay.svg') no-repeat;
}

.store{
	&__appstore{
		width: 198px;
		height: 60px;
		margin-right: 24px;
	}
	&__googleplay{
		width: 198px;
		height: 60px;
	}
}



/*  header
========================================== */

.header{
	// position: relative;
	position: fixed;
	width: calc(100% - 49px);
	// height: 103px;
	// padding-top: 53px;
	background-color: $bg-header;
	z-index: 100;
	transition: box-shadow .3s ease-in;
	&_legal{
		right: 0;
	}
	&__wrapper{
		height: 84px;
	}
	&.shadow{
		box-shadow: 0 0 4px rgba(0, 0, 0, .25);
	}
	&__logo-wrapper{
		position: relative;
		width:89px;
		height: 30px;
	}
	&__logo-inner{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	&__logo{
		position: fixed;
		width: 89px;
		height: 30px;
		display: inline-block;
		&_light{
			opacity: 0;
			transition: all .3s;
			&.active{
				opacity: 1;
			}
		}
	}
	&__link{
		font-family: "SF Pro Text";
		font-size: 18px;
		font-weight: 700;
		line-height: 21px;
		color: $text;
		display: inline-block;
		position: relative;
		// margin-left: 62px;
		margin-left: 27px;
		&::after{
			content: "";
			// width: 34px;
			width: 0;
			height: 4px;
			background-color: $element-dark;
			border-radius: 4px;
			position: absolute;
			left: 0px;
			bottom: -10px;
			transition: all .3s;
		}
		&:hover{
			color: $text;
			text-decoration: none;
			&::after{
				width: 100%;
			}
		}
		&_legal{
			margin-left: 36px;
		}
	}
	&__item{
		display: inline-block;
		&.active{
			.header__link{
				&::after{
					width: 100%;
				}
			}
		}
	}
	&__btn{
		display: inline-block;
		height: 51px;
		padding: 0 30px;
		font-family: "SF Pro Text";
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		line-height: 51px;
		border-radius: 12px;
		color: $text-light;
		background-color: $accent;
		margin-right: 120px;
		transition: background-color .2s;
		&_dark{
			background-color: $element-dark;
		}
		&:hover{
			text-decoration: none;
			color: $text-light;
		}
		&_legal{
			margin-right: 25px;
			margin-left: 5px;
		}
	}
	&__menu-wrapper{
		position: absolute;
		top: 1px;
		bottom: 0;
		right: 70px;
		width: 37px;
		height: 28px;
		margin: auto;
	}
	&__menu-icon{
		position: fixed;
		z-index: 1000;
	}
}



/*  burger menu
========================================== */

.burger {
	width: 35px;
	height: 26px;
	z-index: 10;

	span {
		@include burger(23px, 4px, 6px, $element-dark);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		margin-top: -1.5px;
		border-radius: 4px;
		transition: all .2s!important;
		&::before{
			width: 35px;
			border-radius: 4px;
    	}
    	&::after{
			width: 28px;
			border-radius: 4px;
			transition: all .3s;
    	}
  	}

	&.clicked {
		margin-left: -20px;
		span {
			@include burger-to-cross;
			&:before, &:after {
				width: 35px;
			}
		}
	}

	&:hover {
		cursor: pointer;
		span{
			width: 35px;
	  		&::after{
	  			width: 35px;
	  		}
		}
	}
	&.burger-light{
		span {
			@include burger(23px, 4px, 6px, $element-light);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -15px;
			margin-top: -1.5px;
			border-radius: 4px;
			transition: all .2s!important;
			&::before{
				width: 35px;
				border-radius: 4px;
	    	}
	    	&::after{
				width: 28px;
				border-radius: 4px;
				transition: all .3s;
	    	}
	  	}

		&.clicked {
			margin-left: -20px;
			span {
				@include burger-to-cross;
				&:before, &:after {
					width: 35px;
				}
			}
		}
		&:hover {
			cursor: pointer;
			span{
				width: 35px;
		  		&::after{
		  			width: 35px;
		  		}
			}
		}
	}
	&.burger-menu-legal{
		span {
			@include burger(23px, 4px, 6px, $element-light);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -15px;
			margin-top: -1.5px;
			border-radius: 4px;
			transition: all .2s!important;
			&::before{
				width: 35px;
				border-radius: 4px;
	    	}
	    	&::after{
				width: 28px;
				border-radius: 4px;
				transition: all .3s;
	    	}
	  	}

		&.clicked {
			margin-left: -20px;
			span {
				@include burger-to-cross;
				&:before, &:after {
					width: 35px;
				}
			}
		}
		&:hover {
			cursor: pointer;
			span{
				width: 35px;
		  		&::after{
		  			width: 35px;
		  		}
			}
		}
	}
}



/*  menu
========================================== */

.menu {
	background-image: url('../img/menu-img.png');
	background-color: $accent;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 809px;
	position: fixed;
	z-index: 300;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	padding-top: 17px;
	overflow-y: scroll;
	display: none;
	&__wrapper{
		display: flex;
		flex-direction: column;
		height: calc(100vh - 17px);
	}
	&__img-ani-top{
		width: 208px;
		height: 205px;
		position: fixed;
		bottom: 605px;
		right: 60px;
	}
	&__img-ani-bottom{
		width: 291px;
		height: 264px;
		position: fixed;
		bottom: 80px;
		right: 407px;
	}
	&_legal{
		background-image: none;
		background-color: $bg-dark;
	}
	&.show {
		display: block;
	}

	&__logo{
		display: inline-block;
		width:89px;
		height: 30px;
		margin-left: -24px;
		&_legal{
			margin-left: 24px;
		}
	}

	&__btn{
		display: inline-block;
		padding: 0 30px;
		height: 51px;
		font-family: "SF Pro Text";
		font-size: 18px;
		font-weight: 700;
		text-align: center;
		line-height: 51px;
		border-radius: 12px;
		color: $text-light;
		background-color: $element-dark;
		margin-right: 175px;
		&_legal{
			background-color: $accent;
			margin-right: 0;
		}
		&:hover{
			text-decoration: none;
			color: $text-light;
		}
	}
	&__nav{
		padding-top: 90px;
	}

	.nav {
		list-style-type: none;

		&__item {
			margin-bottom: 49px;

			&:last-of-type {
				margin-bottom: 0px;
			}

			a{
				font-family: "SF Pro Display";
				font-size: 32px;
				line-height: 38px;
				font-weight: 700;
				color: $text;
				text-decoration: none;
				display: inline-block;
				position: relative;
				&::after{
					content: "";
					width: 0;
					height: 4px;
					background-color: $element-dark;
					border-radius: 4px;
					position: absolute;
					left: -107px;
					top: 0;
					bottom: 0px;
					margin: auto;
					transition: all .2s;
				}
				&:hover{
					color: $text;
					text-decoration: none;
					&::after{
						width: 69px;
					}
				}
			}
			&_legal{
				a{
					color: $text-light;
					&::after{
						background-color: $element-light;
					}
					&:hover{
						color: $text-light;
					}
				}
			}
		}
	}

	&__btn-appstore{
		display: inline-block;
		background: url('../img/btn-appstore-black.svg') no-repeat;
	}

	&__btn-googleplay{
		display: inline-block;
		background: url('../img/btn-googleplay-black.svg') no-repeat;
		margin-top: 20px;
	}

	&__store{
		margin-top: 60px;
	}

	&__footer{
		font-family: "SF Pro Text";
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		color: $text-light-gray;
		margin: 90px 0 20px 0;
		&_legal{
			color: $menu-footer-legal;
		}
	}
	&__footer-link{
		display: inline-block;
		color: $text-light-gray;
		margin-bottom: 8px;
		&:hover{
			color: $text-light-gray;
		}
		&_legal{
			color: $menu-footer-legal;
			&:hover{
				color: $menu-footer-legal;
			}
		}
	}
}

/*  form
========================================== */

.form{
	background-color: $bg-light;
	box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	max-width: 500px;
	&__wrapper{
		padding: 45px;
	}
	&__title{
		font-family: "SF Pro Display";
		font-size: 36px;
		font-weight: 900;
		line-height: 43px;
		margin-bottom: 35px;
	}
	&__group{
		position: relative;
		height: 70px;
		label {
			color: $text;
			font-size: 14px;
			position: absolute;
			pointer-events: none;
			top: 10px;
			transition: 0.2s ease all;
			width: 100%;
		}
		input {
			color: $text;
			background-color: transparent;
			font-size: 14px;
			padding: 15px 10px 0 0;
			position: relative;
			display: block;
			border: none;
			width: 100%;
			border-bottom: 1px solid $form-inactive;
			&:focus {
				outline: none;
			}
			&:focus + label,
			&:valid + label,
			&.invalid-input + label {
				top: -10px;
				font-size: 12px;
				color: $accent;
			}
			&.invalid-input + label {
				top: -10px;
				font-size: 12px;
				color: red;
			}
			&:focus ~ .bar:before,
			&:focus ~ .bar:after,
			&:valid ~ .bar:before,
			&:valid ~ .bar:after {
				width: 50%;
				background: $accent;
				border-bottom: 0px;
			}
			&.invalid-input  ~ .bar:before,
			&.invalid-input  ~ .bar:after{
				width: 50%;
				background: red;
				border-bottom: 0px;
				transition: background 0.2s ease;
			}
		}
		.bar {
			position: relative;
			display: block;
			width: 100%;
			&:before,
			&:after {
				content: '';
				height: 2px;
				width: 0px;
				position: absolute;
				bottom: 0.5px;
				background: $accent;
				transition: 0.2s ease all;
			}
			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}
			& + label:after {
				display: block;
				content: "";
				position: absolute;
				top: 65px;
				opacity: 0;
				transition: 0.2s opacity ease-out, 0.2s color ease-out;
			}
		}
	}
	&__captcha-wrapper{
		height: 40px;
    	display: flex;
    	align-items: center;
	}
	&__captcha{
		border: 1px solid $form-inactive;
		border-radius: 5px;
		padding: 0 5px;
		width: 70px;
		height: 33px;
    	text-align: center;
    	margin-left: 10px;
   	    outline: none;
    	&:focus:required:invalid{
    			border-color: $accent;
    			border-width: 2px;
    	}
		&:required:valid{
			border-color: $accent;
			border-width: 2px;
		}
	}
	&__btn{
		font-family: "SF Pro Display";
		font-weight: 700;
		line-height: 24px;
		width: 100%;
		height: 70px;
		color: $text-light;
		background-color: $accent;
		border: none;
		padding: 0;
		outline: none!important;
		border-radius: 0 0 12px 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	    &_text{
			cursor: pointer;
			width: inherit;
			line-height: 69px;
			&.loading {
				font-size: 0;
				width: 30px;
				height: 30px;
				border-radius: 15px;
				padding: 0;
				border: 3px solid $accent;
				border-bottom: 3px solid $element-light;
				border-left: 3px solid $element-light;
				background-color: transparent !important;
				animation-name: rotateAnimation;
				animation-duration: 1s;
				animation-delay: 0.2s;
				animation-iteration-count: infinite;
				cursor: auto;
			}
			@keyframes rotateAnimation {
				0% {
					-webkit-transform: rotate(0deg);
					transform: rotate(0deg);
				}
				100% {
					-webkit-transform: rotate(360deg);
					transform: rotate(360deg);
				}
			}
		}
	}
	// &:invalid &__btn{
	// 	pointer-events: none;
	// }

	&.form-send-request{
		max-width: none;
		border-radius: 0;
		box-shadow: none;
		margin-top: 50px;
		.form__group{
			width: 100%;
			max-width: 468px;
			&_message{
				max-width: none!important;
				margin-top: 20px;
			}
		}
		.form__btn{
			max-width: 342px;
			height: 60px;
			border-radius: 12px;
			margin-top: 45px;
			&_text{
				line-height: 59px;
			}

		}
	}
}


.msg-submit {
	width: 100%;
	height: 100%;
	color: #fff;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 999999;
	h2 {
		font-family: "SF Pro Display";
		font-weight: 900;
		font-size: 32px;
		line-height: 43px;
		background: $bg-light;
		color: $accent;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 30px;
		padding: 30px;
		box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.3);
		border-radius: 12px;
		height: 100%;
		max-height: 200px;
	}
	&.success{
		h2{
			color: $accent;
		}
	}
	&.unsuccessful{
		h2{
			color: $text;
		}
	}
}



/*  main
========================================== */

.main{
	background-color: $bg-main;
	&__wrapper{
		height: 100vh;
		min-height: 844px;
		position: relative;
		z-index: 10;
	}
	&__slogan{
		font-family: "SF Pro Display";
		font-size: 48px;
		font-weight: 900;
		line-height: 69px;
		&_arrow{
			color: $accent;
			margin-left: 35px;
			position: relative;
			&::before{
				content: "";
				width: 100%;
				height: 12px;
				position: absolute;
				bottom: -8px;
				background: url('../img/slogan-wave.svg') center bottom no-repeat;
			}
			&::after{
				content: "";
				width: 66.6px;
				height: 69.2px;
				transform: rotate(-5.57deg);
				position: absolute;
				bottom: -92px;
				right: 37px;
				background: url('../img/slogan-arrow.svg') no-repeat;
			}
		}
		&_decoration{
			position: relative;
			&::before{
				content: "";
				position: absolute;
				left: -33px;
				top: 0;
				width: 32px;
				height: 55px;
				background: url('../img/slogan-left.svg') no-repeat;
			}
			&::after{
				content: "";
				position: absolute;
				width: 27px;
				height: 52px;
				top: 0;
				right: -37px;
				background: url('../img/slogan-right.svg') no-repeat;
			}
		}
		&_legal{
			max-width: 500px;
		}
		&_arrow-legal{
			color: $accent;
			position: relative;
			&::before{
				content: "";
				width: 277px;
				height: 13px;
				position: absolute;
				left: 0;
				bottom: -8px;
				background: url('../img/slogan-wave-legal.svg') center bottom no-repeat;
			}
			&::after{
				content: "";
				width: 77px;
				height: 80px;
				position: absolute;
				bottom: -202px;
				right: -109px;
				background: url('../img/slogan-arrow.svg') no-repeat;
			}
		}
		&_decoration-legal{
			position: relative;
			margin-right: 56px;
			&::before{
				content: "";
				position: absolute;
				left: -57px;
				top: 0;
				width: 43px;
				height: 74px;
				background: url('../img/slogan-left.svg') no-repeat;
			}
			&::after{
				content: "";
				position: absolute;
				width: 36px;
				height: 70px;
				top: 0;
				right: -51px;
				background: url('../img/slogan-right.svg') no-repeat;
			}
		}
	}
	&__btn{
		font-family: "SF Pro Display";
		font-weight: 700;
		line-height: 24px;
		padding: 0 57px;
		height: 60px;
		border-radius: 12px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: $text-light;
		background-color: $accent;
		&:hover{
			color: $text-light;
			text-decoration: none;
		}
	}
	&__girl{
		background-image: url('../img/girl-physical.jpg');
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		min-height: 760px;
		&_legal{
			background-image: url('../img/girl-legal.jpg');
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	&__drawing-girl{
		width: 452px;
		height: 676px;
		position: absolute;
		bottom: 57px;
		left: -14px;
	}
	&__store{
		margin-top: 30px;
	}
	&__arrow-down{
		position: absolute;
		bottom: 12.7vh;
		left: 0;
		right: 0;
		margin: auto;
		width: 25px;
		height: 57px;
		cursor: pointer;
		background: url('../img/arrow-down.svg') no-repeat;
		animation: up-down 3s infinite;
		&:hover{
			animation-play-state: paused;
		}
	}
}

@keyframes up-down {
	0% {
		transform: translate(0, 10px);
	}
	10% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(0, 10px);
	}
	30% {
		transform: translate(0, 0);
	}
	40% {
		transform: translate(0, 10px);
	}
	100% {
		transform: translate(0, 10px);
	}
}



/*  advantage
========================================== */

.advantage{
	background-color: $accent;
	&__wrapper{
		height: 100vh;
		min-height: 866px;
		padding: 120px 0 60px 0;
	}
	&__img{
		background-image: url('../img/advantage-img.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 786px;
	}
	&__img-ani{
		width: 495px;
		position: absolute;
		top: -58px;
		left: -15px;
		display: none;
	}
	&__text{
		font-family: "SF Pro Text";
		font-weight: 600;
		margin-top: 20px;
		color: $text-dark;
		&_width{
			max-width: 500px;
		}
	}
	&__store{
		margin-top: 38px;
	}
}



/*  pay
========================================== */

.pay{
	position: relative;
	background-color: $accent;
	color: $text-dark;
	z-index: 10;
	&__img{
		background-image:: url('../img/pay-img.png');
		background-repeat: no-repeat;
		background-position: center right;
		background-size: contain;
		background-size: 744px;
	}
	&__img-ani{
		width: 329px;
		height: 324px;
		position: absolute;
		top: -336px;
		bottom: 0;
		right: 180px;
		margin: auto;
		display: none;
	}
	&__wrapper{
		min-height: 620px;
		padding: 15vh 0;
	}
	&__text{
		font-family: "SF Pro Text";
		font-weight: 600;
		max-width: 500px;
	}
	&__subtitle{
		margin-top: 30px;
	}
	&__desc{
		color: $text-gray;
		// margin-left: 40px;
		position: relative;
		font-weight: 400;
		// &::before{
		// 	content: "";
		// 	width: 7px;
		// 	height: 7px;
		// 	background-color: $element-light;
		// 	border-radius: 50%;
		// 	position: absolute;
		// 	top: 14px;
		// 	left: -22px;

		// }
	}
}



/*  simple
========================================== */

.simple{
	position: relative;
	background-color: $bg-dark;
	color: $text-light;
	z-index: 10;
	&__img{
		background-image:: url('../img/simple-img.png');
		background-repeat: no-repeat;
		background-position: 100% 30%;
		background-size: 677px;
	}
	&__img-ani-top{
		width: 260px;
		height: 243px;
		position: absolute;
		top: -790px;
		bottom: 0;
		right: 515px;
		margin: auto;
		display: none;
	}
	&__img-ani-bottom{
		width: 273px;
		height: 292px;
		position: absolute;
		top: 535px;
		bottom: 0;
		right: 162px;
		margin: auto;
		display: none;
	}
	&__wrapper{
		padding: 160px 0 60px 0;
	}
	&__title{
		color: $text-light;
		margin-bottom: 40px;
	}
	&__subtitle{
		margin-top: 30px;
	}
	&__text{
		font-family: "SF Pro Text";
		font-weight: 600;
		max-width: 500px;
	}
	&__desc{
		color: $pay-desc;
		// margin-left: 40px;
		position: relative;
		font-weight: 400;
		// &::before{
		// 	content: "";
		// 	width: 7px;
		// 	height: 7px;
		// 	background-color: $accent;
		// 	border-radius: 50%;
		// 	position: absolute;
		// 	top: 14px;
		// 	left: -22px;

		// }
	}
	&__btn{
		font-family: "SF Pro Display";
		font-weight: 700;
		line-height: 24px;
		padding: 0 57px;
		width: 100%;
		max-width: 342px;
		height: 60px;
		margin-top: 38px;
		border-radius: 12px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: $text-light;
		background-color: $accent;
		&:hover{
			color: $text-light;
			text-decoration: none;
		}
	}
}



/*  headline
========================================== */

.headline{
	background-color: $accent;
	color: $text-dark;
	&_legal{
		background-color: $bg-dark;
		color: $text-light;
	}
	&__wrapper-1{
		padding-top: 150px;
		padding-bottom: 150px;

	}
	&__wrapper-2{
		padding-top: 15vh;
		padding-bottom: 15vh;
	}
	&__title{
		font-family: "SF Pro Display";
		font-size: 65px;
		font-weight: 900;
		line-height: 78px;
		text-align: center;
	}
	&__text{
		font-family: "SF Pro Text";
		font-weight: 400;
		text-align: center;
		margin-top: 42px;
	}
}



/*  for-whom
========================================== */

.for-whom{
	position: relative;
	z-index: 10;
	background-color: $bg-dark;
	color: $text-light;
	&__wrapper{
		padding-top: 200px;
	}
	&__title{
		color: $text-light;
	}
	&__tabs{
		margin-top: 104px;
		&::after{
			content:"";
			display:block;
			clear:both;
		}
	}
	&__item{
		position: relative;
		font-family: "SF Pro Display";
		line-height: 24px;
		border: 2px dashed $for-someone-border;
		width: 200px;
		height: 200px;
		padding: 20px;
		border-radius: 50%;
	    cursor:pointer;
	    color: $text-light;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	    z-index: 10;
	    	&.active{
		    background-color: $accent;
		    border: 2px solid $accent;
		    color: $text;
		    position: relative;
		    cursor: default;
		    pointer-events: none;
		    &::after{
		    	content: "";
		    	width: 280px;
		    	height: 314px;
		    	background: url('../img/for-someone-picker.svg') no-repeat;
		    	position: absolute;
		    	top: -27px;
		    	left: -42px;
		    	z-index: -1;
		    }

    	}
	}
	&__content{
    	display:none;
    	margin-top: 79px;
    	min-height: 300px;
    	outline: none;
	}
	&__content-item{
		font-family: SF Pro Text;
		line-height: 26px;
		padding-left: 24px;
		margin-bottom: 20px;
		position: relative;
		&::after{
			content: "";
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: $accent;
			position: absolute;
			top: 10px;
			left: 0;
		}
	}
	.visible, .open_tab {
	    display: block;
	}

	.for-whom-slides{
		display: none;
		overflow-x: hidden;
		.thumb-nav{
			width: 474px;
			.slick-list{
				overflow-y: inherit;
				min-height: 220px;
			}
		}
		&__item{
			font-family: "SF Pro Display";
			font-size: 12px;
			line-height: 14px;
			width: 143px;
			height: 143px;
			border: 2px dashed $for-someone-border;
			border-radius: 50%;
			margin: 0 7.5px;
			padding: 20px;
		    cursor:pointer;
		    color: $text-light;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			outline: none;
			transition: background .8s;
			&.slick-current{
			    background-color: $accent;
			    border: 2px solid $accent;
				position: relative;
				color: $text;
			    &::after{
			    	content: "";
					width: 200px;
					height: 234px;
					top: -20px;
					left: -31px;
			    	background: url('../img/for-someone-picker.svg') no-repeat;
			    	position: absolute;
			    	z-index: -1;
			    }
			}
		}
	}
}



/*  how-it-works
========================================== */

.how-it-works{
	position: relative;
	background-color: $accent;
	z-index: 10;
	color: $text-dark;
	overflow: hidden;
	&__wrapper{
		height: 100vh;
		min-height: 790px;
		padding: 20vh 0;
	}
	&__img{
		position: relative;
		outline: none;
		&::after{
			content: "";
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			left: 55px;
		}
		&_s1{
			&::after{
				background-image: url('../img/how-it-works-img-01.png');
				width: 481px;
				height: 778px;
				top: -280px;
			}
		}
		&_s2{
			&::after{
				background-image: url('../img/how-it-works-img-02.png');
				width: 481px;
				height: 778px;
				top: -280px;
			}
		}
		&_s3{
			&::after{
				background-image: url('../img/how-it-works-img-03.png');
				width: 481px;
				height: 778px;
				top: -280px;
			}
		}
		&_s4{
			&::after{
				background-image: url('../img/how-it-works-img-04.png');
				width: 481px;
				height: 778px;
				top: -280px;
			}
		}
		&_s5{
			&::after{
				background-image: url('../img/how-it-works-img-05.png');
				width: 481px;
				height: 778px;
				top: -280px;
			}
		}
		&_s6{
			&::after{
				background-image: url('../img/how-it-works-img-06.png');
				width: 481px;
				height: 778px;
				top: -280px;
			}
		}
		&_s7{
			&::after{
				background-image: url('../img/how-it-works-img-07.png');
				width: 481px;
				height: 778px;
				top: -280px;
			}
		}
		&_s8{
			&::after{
				background-image: url('../img/how-it-works-img-08.png');
				width: 481px;
				height: 778px;
				top: -280px;
			}
		}
	}
	&__legal-img{
		position: relative;
		outline: none;
		&::after{
			content: "";
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			left: 646px;
		}
		&_s1{
			&::after{
				background-image: url('../img/how-it-works-legal-img-01.png');
				width: 1124px;
				height: 670px;
				top: -250px;
			}
		}
		&_s2{
			&::after{
				background-image: url('../img/how-it-works-legal-img-02.png');
				width: 515px;
				height: 790px;
				top: -325px;
			}
		}
		&_s3{
			&::after{
				background-image: url('../img/how-it-works-legal-img-03.png');
				width: 515px;
				height: 790px;
				top: -325px;
			}
		}
		&_s3-5{
			&::after{
				background-image: url('../img/how-it-works-legal-img-3-5.png');
				width: 1124px;
				height: 670px;
				top: -250px;
			}
		}
		&_s4{
			&::after{
				background-image: url('../img/how-it-works-legal-img-04.png');
				width: 1124px;
				height: 670px;
				top: -250px;
			}
		}
		&_s5{
			&::after{
				background-image: url('../img/how-it-works-legal-img-05.png');
				width: 515px;
				height: 790px;
				top: -325px;
			}
		}
		&_s6{
			&::after{
				background-image: url('../img/how-it-works-legal-img-06.png');
				width: 1124px;
				height: 670px;
				top: -250px;
			}
		}
		&_s7{
			&::after{
				background-image: url('../img/how-it-works-legal-img-07.png');
				width: 515px;
				height: 790px;
				top: -325px;
			}
		}
		&_s8{
			&::after{
				background-image: url('../img/how-it-works-legal-img-08.png');
				width: 515px;
				height: 790px;
				top: -325px;
			}
		}
		&_s9{
			&::after{
				background-image: url('../img/how-it-works-legal-img-09.png');
				width: 1124px;
				height: 670px;
				top: -250px;
			}
		}
	}
	&__title{
		&_legal{
			color: $text-light;
		}
	}
	&__text{
		font-family: "SF Pro Text";
		font-weight: 400;
		outline: none;
		max-width: 560px;
	}
	.slick-dots{
		height: 5px;
		margin-top: 30px;
		max-width: 500px;
		display: flex;
		li{
			margin-right: 6px;
			display: inline-block;
			width: 100%;
			max-width: 83px;
			&:last-child{
				margin-right: 0;
			}
			button{
				background-color: $element-light;
				width: inherit;
				max-width: inherit;
				height: 5px;
				cursor: pointer;
				border-radius: 5px;
			    border: none;
			    outline: none;
			    overflow: hidden;
			    text-indent: -9999px;
			}
			&.slick-active button{
				position: relative;
				&::after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: inherit;
					height: inherit;
					background-color: $element-dark;
					animation: dots 10.5s linear;
				}
			}
		}
	}
	&__slides{
		outline: none;
		display: none;
		margin-bottom: 100px;
		&.active{
			display: block;
		}
	}
	&__slides-legal{
		display: none;
		outline: none;
		margin-bottom: 100px;
		&.active{
			display: block;
		}
		.slick-dots{
			li{
				&.slick-active button{
					&::after{
						animation: dots 5.5s linear;
					}
				}
			}
		}

	}
	.slick-list{
		margin-top: 30px;
		min-height: 160px;
		overflow: inherit;
	}
	.btn-prev{
		display: none!important;
	}
	.btn-next{
		width: 100%;
		max-width: 199px;
		height: 60px;
		font-family: "SF Pro Display";
  		font-weight: 700;
		background-color: $btn-dark;
		color: $text-light;
		border-radius: 12px;
		margin-top: 30px;
		cursor: pointer;
	    border: none;
	    outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: -90px;
		margin-left: 50%;
		&_legal{
			margin-left: 0;
			background-color: $accent;
		}
	}

	&_legal{
		background-color: $bg-dark;
		color: $text-light;
		.slick-dots{
			li{
				button{
					background-color: $dots-legal;
				}
				&.slick-active button{
					&::after{
						background-color: $element-light;
					}
				}
			}
		}
		.btn-next-popup{
			margin-top: 50px
		}
	}
	&__item{
		position: relative;
		font-family: "SF Pro Display";
		font-size: 12px;
		line-height: 14px;
		font-weight: 700;
		border: 1px dashed $for-someone-border;
		width: 40px;
		height: 40px;
		margin-right: 30px;
		border-radius: 50%;
	    cursor:pointer;
	    color: $text-light;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	    z-index: 10;
	    &:last-child{
	    	margin-right: 0;
	    }
	    	&.active{
		    background-color: $accent;
		    border: 2px solid $accent;
		    color: $text;
		    position: relative;
		    cursor: default;
		    pointer-events: none;
		    &::after{
		    	content: "";
		    	width: 58px;
		    	height: 65px;
		    	background: url('../img/for-someone-picker.svg') no-repeat;
		    	position: absolute;
		    	top: -8px;
		    	left: -11px;
		    	z-index: -1;
		    }

    	}
	}
	b{
		font-weight: 900;
	}
}

@keyframes dots {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}



/*  send-request
========================================== */

.send-request{
	margin: 10px;
	padding: 105px 140px 110px 140px;
	width: 90%;
	max-width: 1280px;
	background-color: $bg-light;
	box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	position: relative;
	&_open{
		cursor: pointer;
	}
	&_close{
		position: absolute;
		top: 121px;
		right: 132px;
		width: 36px;
		height: 36px;
		font-size: 40px;
		background: none;
		border: none;
		cursor: pointer;
		outline: none!important;
		&::before, &::after {
			position: absolute;
			top: -3px;
			left: 14px;
			content: ' ';
			height: 38px;
			border-radius: 2px;
			width: 4px;
			background-color: $element-dark;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}

	}
	&__title{
		color: $text;
	}
}



/*  mobile-app
========================================== */

.mobile-app{
	position: relative;
	background-color: $bg-dark;
	color: $text-light;
	z-index: 10;
	&__img{
		background-image: url('../img/mobile-app-img.png');
		background-repeat: no-repeat;
		background-position: 49px bottom;
		background-size: 862px;
	}
	&__img-ani-top{
		width: 243px;
		height: 163px;
		position: absolute;
		bottom: 725px;
		left: 210px;
		display: none;
	}
	&__img-ani-bottom{
		width: 361px;
		height: 334px;
		position: absolute;
		bottom: 92px;
		left: 324px;
		display: none;
	}
	&__wrapper{
		min-height: 620px;
		padding: 106px 0 0 0px;
	}
	&__title{
		color: $text-light;
		margin-bottom: 40px;
	}
	&__text{
		font-family: "SF Pro Text";
		font-weight: 400;
		max-width: 640px;
		margin-bottom: 620px;
	}
}



/*  security
========================================== */

.security{
	background-color: $accent;
	font-family: "SF Pro Text";
	font-weight: 400;
	color: $text-dark;
	&__wrapper{
		height: 100vh;
		padding-top: 50px;
		min-height: 786px;
	}
	&__img{
		background-image: url('../img/security-img.png');
		background-position: left center;
		background-size: contain;
		background-repeat: no-repeat;
		height: 786px;
	}
	&__img-ani{
		width: 358px;
		height: 673px;
		position: absolute;
		top: -42px;
		right: 70px;
		display: none;
	}
	&__img-ani-lock{
		width: 163px;
		height: 172px;
		position: absolute;
		top: 216px;
		right: 155px;
		display: none;
	}
	&__accent-word{
		position: relative;
		&::after{
			content: "";
			width: 100%;
			height: 14px;
			background: url('../img/security-wave.svg') no-repeat;
			position: absolute;
			bottom: -10px;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	&__text{
		margin-top: 50px;
	}
	&__cloud-payments{
		// max-width: 432px;
		margin-top: 36px;
		// padding-left: 97px;
		position: relative;
		// &::before{
		// 	content: "";
		// 	width: 71px;
		// 	height: 59px;
		// 	background: url('../img/security-cloudpayments.svg') no-repeat;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// }
	}
	&__link{
		color: $text-gray;
		display: inline-block;
		position: relative;
		&::after{
			content: "";
			width: 100%;
			height: 1px;
			background-color: $text-gray;
			position: absolute;
			bottom: 5px;
			left: 0;
		}
		&:hover{
			color: $text-gray;
			text-decoration: none;
		}
	}
}



/*  faq
========================================== */

.faq{
	background-color: $accent;
	padding: 60px 0;
	font-family: "SF Pro Display";
	&_legal{
		background-color: $bg-dark;
	}
	&__wrapper{
		background-color: $bg-light;
		box-shadow: 0px 20px 60px rgba(50, 160, 113, 0.34);
		border-radius: 12px;
		padding-top: 90px;
		padding-bottom: 90px;
		&_legal{
			box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
		}
	}
	&__list{
		padding-top: 20px;
	}
	&__question{
		display: inline-block;
		font-size: 24px;
		font-weight: 900;
		line-height: 29px;
		color: $accent;
		margin-top: 35px;
		cursor: pointer;
		align-items: center;
		.num{
			font-weight: 900;
			width: 40px;
			height: 40px;
			margin-top: -5px;
			color: $text-light;
			float: left;
			background-color: $accent;
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
		&.active{
			color: $faq-active;
			.num{
				background-color: $bg-dark;
			}
		}
	}
	&__text{
		padding-left: 60px;
	}
	&__link{
		color: $accent;
		font-weight: 700;
		&:hover{
			color: $faq-active;
		}
	}
	&__answer{
		font-size: 18px;
		line-height: 26px;
		color: $text;
		margin-top: 12px;
		padding-left: 64px;
		width: 100%;
		display: none;
	}
	&__btn{
		font-family: "SF Pro Display";
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		background-color: $accent;
		color: $text-light;
		cursor: pointer;
		outline: none;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 12px;
		width: 100%;
		max-width: 230px;
		height: 60px;
		&:hover{
			color: $text-light;
			text-decoration: none;
		}
	}
}



/*  who
========================================== */

.who{
	background-color: $bg-dark;
	padding-top: 50px;
	font-family: "SF Pro Display";
	color: $text;
	&__wrapper{
		background-color: $bg-light;
		box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
		border-radius: 12px;
		padding-top: 90px;
		padding-bottom: 90px;
	}
	&__title{
		padding-bottom: 10px;
	}
	&__text-wrapper{
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}
	&__text{
		font-size: 24px;
		line-height: 34px;
		font-weight: 400;
		margin-top: 52px;
	}
	&__icon-cloud{
		position: relative;
		// padding-left: 86px;
		// &::before{
		// 	content: "";
		// 	width: 71px;
		// 	height: 59px;
		// 	background: url('../img/who-cloudpayments.svg') no-repeat;
		// 	position: absolute;
		// 	top: 0;
		// 	bottom: 0;
		// 	left: -10px;
		// 	margin: auto;
		// }
	}
	&__icon-star{
		position: relative;
		padding-left: 86px;
		&::before{
			content: "";
			width: 48px;
			height: 46px;
			background: url('../img/who-star.svg') no-repeat;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
	}
	&__icon-darts{
		position: relative;
		padding-left: 86px;
		&::before{
			content: "";
			width: 48px;
			height: 48px;
			background: url('../img/who-darts.svg') no-repeat;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}
	}
}



/*  last
========================================== */

.last{
	background-color: $accent;
	padding: 130px 0 190px 0;
	font-family: "SF Pro Display";
	&_legal{
		background-color: $bg-dark;
		padding: 124px 0 184px 0;
	}
	&__title{
		color: $text-dark;
		// &_legal{
		// 	color: $text-light;
		// 	margin-top: 32px;
		// 	padding-bottom: 13px;
		// }
	}
	&__text{
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		color: $text-light-gray;
		text-transform: uppercase;
		margin-top: 65px;
		&_legal{
			color: $text-footer-legal;
			margin-top: 56px;
		}
	}
	&__link{
		font-size: 48px;
		font-weight: 900;
		line-height: 57px;
		color: $text-light;
		&:hover{
			color: $text-light;
			text-decoration: none;
		}
		&_legal{
			color: $accent;
			&:hover{
				color: $accent;
			}
		}
	}
	&__store{
		margin-top: 44px;
		display: flex;
		flex-wrap: wrap;
	}
	.btn-googleplay{
		margin-right: 24px
	}
	&__web-version{
		line-height: 24px;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 198px;
		height: 60px;
		border-radius: 12px;
		color: $text-light;
		background-color: $btn-dark;
		&:hover{
			color: $text-light;
			text-decoration: none;
		}
	}
}



/*  footer
========================================== */

.footer{
	background-color: $accent;
	font-family: "SF Pro Text";
	padding-bottom: 40px;
	&_legal{
		background-color: $bg-dark;
	}
	&__border{
		height: 2px;
		background-color: $border-footer;
		margin-bottom: 38px;
		&_legal{
			background-color: $border-footer-legal;
		}
	}
	&__wrapper{
		max-width: 1000px;
		margin: 0 auto;
	}
	&__inner{
		margin-bottom: 30px;
	}
	&__logo{
		display: inline-block;
		width: 40.4px;
		height: 14px;
		line-height: 1;
		position: relative;
		top: -10px;
		margin-bottom: 7px;
	}
	&__text{
		font-size: 14px;
		line-height: 18px;
		color: $text-light-gray;
		&_legal{
			color: $text-footer-legal;
		}
	}
	&__title{
		font-size: 10px;
		font-weight: 700;
		line-height: 13px;
		text-transform: uppercase;
		margin-bottom: 13px;
		&_legal{
			color: $text-light;
		}
	}
	&__link{
		font-size: 14px;
		line-height: 17px;
		color: $text-light-gray;
		&:hover{
			color: $text-light-gray;
		}
		&_legal{
			color: $text-footer-legal;
			&:hover{
				color: $text-footer-legal;
			}
		}
	}
	&__googleplay{
		width: 122px;
		height: 37px;
		display: inline-block;
		background: url('../img/footer-btn-googleplay.svg') no-repeat;
	}
	&__appstore{
		width: 122px;
		height: 37px;
		display: inline-block;
		background: url('../img/footer-btn-appstore.svg') no-repeat;

	}
	&__btn{
		font-family: "SF Pro Display";
		font-size: 14px;
		line-height: 17px;
		height: 40px;
		max-width: 250px;
		color: $text-light;
		border-radius: 12px;
		border: 1px solid $border-btn-footer;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			color: $text-light;
			text-decoration: none;
		}
	}
}

.ie{
	text-align: center;
	margin-top: 100px;
}

@import "media"; // Always at the end